@model AgregarDetalleViewModel

<article class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <h1 class="mb-4">📋 Agregar Producto al Presupuesto: @Model.NombreDestinatario</h1>
</article>

<section class="d-flex justify-content-center align-items-center" style="height: 70vh;">
    <article class="border rounded p-5">
        <form asp-controller="Presupuesto" asp-action="AgregarProductoADetalle" method="post">
            <section class="form-group p-2">
                <section class="form-group p-2">
                    <label asp-for="IdProducto" class="form-label">Producto</label>
                    <select asp-for="IdProducto" class="form-control" required>
                        <option value="0" disabled selected>Elige un Producto</option>
                        @foreach (var p in Model.TodosLosProductos)
                        {
                            <option value="@p.IdProducto">@p.Descripcion</option>
                        }
                    </select>
                    <span asp-validation-for="IdProducto" class="text-danger"></span>
                </section>
                <section class="form-group d-flex justify-content-between p-2">
                    <label asp-for="Cantidad" class="form-label">Cantidad</label>
                    <input type="number" asp-for="Cantidad" class="form-control-sm">
                    <span asp-validation-for="Cantidad" class="text-danger"></span>
                </section>
                <section>
                    <input type="hidden" asp-for="IdPresupuesto" value="@Model.IdPresupuesto">
                </section>
                <section class="form-group p-2">
                    <input type="submit" value="Agregar" class="btn btn-primary">
                    <a class="btn btn-danger " asp-controller="Presupuesto" asp-action="DetallePresupuesto"
                        asp-route-id="@Model.IdPresupuesto">Cancelar</a>
                </section>
        </form>
       @section Scripts {
            <partial name="_ValidationScriptsPartial" />
        }
        @*// asp-for conecta los modelos con el formulario, es decir que automaticamente se crea el objeto*@

    </article>
</section>

@*el @model: 
*Recibe datos: Cuando el controlador renderiza una vista, el modelo contiene los datos que se mostrarán.
*Envía datos: Cuando el formulario se envía al servidor, el modelo puede usarse para mapear los datos enviados.
en este caso se los enviamos al formulario (te das cuenta si en el controlador retorna la vista sola o con algo, si va vacia el model en la vista envia los datos, si retorna algo, el model recibe los datos en la vista)*@